@import './variable';
@import './mixins';

.grid__full-width {
    .header {
        margin: auto 150px;
        
        &__slide-bar {
            display: flex;
            align-items: center;
            height: 50px;
            margin-top: 50px;
            
            &__logo {
                display: flex;
                justify-content: center;
                
                &__icon {
                    width: 35px;
                    height: 36px;
                    margin-right: 10px;
                    line-height: 24px;
                    
                }
                &__name {
                    width: 105px;
                    height: 24px;
                    font-size: 2rem;
                    position: relative;
                    top: 4px;

                    color: #0B132A;
                    &__name-left {
                        font-weight: 500;
                    }
                    &__name-right {
                        font-weight: 700;
                        position: relative;
                        left: -6px;
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
            &__content {
                width: 431px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 19px;
                font-size: 1.6rem;
                color: #4F5665;
                margin-left: 157px;
                margin-right: 120px;
                &__about:hover,
                &__features:hover,
                &__pricing:hover,
                &__testimonials:hover,
                &__help:hover {
                    cursor: pointer;
                    text-decoration: underline red;
                    position: relative;
                    top: -2px;
                }
            }
            &__authentication {
                width: 273px;
                justify-content: space-between;
                display: flex;
                align-content: center;
                
                &__sign-in,
                &__sign-up {
                    font-size: 1.6rem;
                    font-weight: 600;
                    background-color: transparent;
                }
                &__sign-in {
                    border: none;
                    padding: 13px 30px;
                    
                    &:hover {
                        border: 2px solid #F53855;
                        border-radius: 50px;
                        cursor: pointer;
                        background-color: #F53838;
                        color: #FFFFFF;
                        //transform: 
                    }
                }
                &__sign-up {
                   border: 2px solid #F53855;
                   padding: 13px 45px;
                   border-radius: 50px;
                   color: #F53855;

                   &:hover {
                        cursor: pointer;
                        background-color: #F53838;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .content {
        margin: 0 84px 0 150px;
        &__about {
            position: relative;
            &__top-container {
                display: flex;
                margin-top: 90px;
                &__left-container {
                    margin-right: 20px;
                    &__title {
                        font-size: 5rem;
                        line-height: 7rem;
                        color: #0B132A;
                        margin-top: 28px;
                        &__first-title {
                            font-weight: 500;
                        }
                        &__lasles-title {
                            font-weight: 700 ;
                        }
                        &__vpn-title {
                            font-weight: 800;
                            position: relative;
                            left: -18px;
                        }
                    }
                    &__describe {
                        height: 60px;
                        font-size: 1.6rem;
                        line-height: 3rem;
                        color: #4F5665;
                        
                        &__first-describe {
                            font-weight: 400;
                        }
                        &__seccond-describe {
                            font-weight: 600;
                        }
                        &__third-describe {
                            font-weight: 400;
                        }
                    }
                    &__btn {
                        width: 250px;
                        height: 60px;
                        background-color: #F53838;
                        color: #ffffff;
                        border: none;
                        border-radius: 10px;
                        font-weight: 700;
                        line-height: 2.5rem;
                        font-size: 1.6rem;
                        margin-top: 52px;
                        padding: auto;
                        box-shadow: 0 25px 25px #FCCBCB;
                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                }
                &__img {
                    width: 610px;
                    height: 381px;
                }
            }

            &__bot-container {
                display: flex;
                width: 1140px;
                height: 200px;
                justify-content: space-around;
                border-radius: 10px;
                margin-top: 105px;
                align-items: center;
                box-shadow: 0 50px 15px #F4F4F5;
                
                &__group-item {
                    display: flex;
                    height: 100px;
                    width: 190px;
                    
                    align-items: center;
                    &__icon{
                        width: 55px;
                        height: 55px;
                        margin-right: 37px;
                    }
                    &__group-info {
                        line-height: 30px;
                        &__number {
                            font-weight: 800;
                            font-size: 2.5rem;
                        }
                        &__title {
                            font-weight: 400;
                            font-size: 2rem;
                        }
                    }
                    
                }
                &::before {
                    content: "";
                    width: 2px;
                    height: 126px;
                    background-color: #EEEFF2;
                    position: absolute;
                    left: 356px;
                }

                &::after {
                    content: "";
                    width: 2px;
                    height: 126px;
                    background-color: #EEEFF2;
                    position: absolute;
                    left: 776px;
                }
                
                
            }
            
        }

        &__features {
            display: flex;
            margin-top: 96px;
            &__img {
                margin-right: 170px;
                width: 508px;
                height: 415px;
            }
            &__container {
                margin-top: 70px;
                &__title {
                    font-weight: 600;
                    font-size: 3.5rem;
                    line-height: 50px;
                    width: 382px;
                }
                &__describe {
                    width: 428px;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                &__group {
                    margin-top: 15px; 
                    display: flex;
                    align-items: center;

                    &__feature-name {
                        font-size: 14px;       
                    }
                    &__icon {
                        margin-right: 12px;
                    }
                    
                }
            }
        }
    }
    .footer {
        margin-top: 150px;
    }
}

