.grid__full-width {
  overflow-x: hidden;
}
.grid__full-width .header__container {
  margin: auto 150px;
}
.grid__full-width .header__container__slide-bar {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 50px;
}
.grid__full-width .header__container__slide-bar__logo {
  display: flex;
  justify-content: center;
}
.grid__full-width .header__container__slide-bar__logo__icon {
  width: 35px;
  height: 36px;
  margin-right: 10px;
  line-height: 24px;
}
.grid__full-width .header__container__slide-bar__logo__name {
  width: 105px;
  height: 24px;
  font-size: 2rem;
  position: relative;
  top: 4px;
  color: #0B132A;
}
.grid__full-width .header__container__slide-bar__logo__name__name-left {
  font-weight: 500;
}
.grid__full-width .header__container__slide-bar__logo__name__name-right {
  font-weight: 700;
  position: absolute;
  left: 56px;
}
.grid__full-width .header__container__slide-bar__logo:hover {
  cursor: pointer;
}
.grid__full-width .header__container__slide-bar__content {
  width: 431px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;
  font-size: 1.6rem;
  color: #4F5665;
  margin-left: 157px;
  margin-right: 120px;
}
.grid__full-width .header__container__slide-bar__content__about:hover, .grid__full-width .header__container__slide-bar__content__features:hover, .grid__full-width .header__container__slide-bar__content__pricing:hover, .grid__full-width .header__container__slide-bar__content__testimonials:hover, .grid__full-width .header__container__slide-bar__content__help:hover {
  cursor: pointer;
  text-decoration: underline #F53838;
  position: relative;
  top: -2px;
}
.grid__full-width .header__container__slide-bar__authentication {
  width: 273px;
  justify-content: space-between;
  display: flex;
  align-content: center;
}
.grid__full-width .header__container__slide-bar__authentication__group-btn {
  display: flex;
}
.grid__full-width .header__container__slide-bar__authentication__group-btn__sign-in, .grid__full-width .header__container__slide-bar__authentication__group-btn__sign-up {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: transparent;
}
.grid__full-width .header__container__slide-bar__authentication__group-btn__sign-in {
  border: none;
  padding: 13px 20px;
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 50px;
}
.grid__full-width .header__container__slide-bar__authentication__group-btn__sign-in:hover {
  border-color: #F53855;
  cursor: pointer;
  background-color: #F53838;
  color: #FFFFFF;
}
.grid__full-width .header__container__slide-bar__authentication__group-btn__sign-up {
  border: 2px solid #F53855;
  padding: 13px 45px;
  border-radius: 50px;
  color: #F53855;
}
.grid__full-width .header__container__slide-bar__authentication__group-btn__sign-up:hover {
  cursor: pointer;
  background-color: #F53838;
  color: #FFFFFF;
}
.grid__full-width .header__container__slide-bar__authentication__menu-bars {
  display: none;
}
.grid__full-width .content__about__container {
  margin: 0 84px 0 150px;
  position: relative;
}
.grid__full-width .content__about__container__top-container {
  display: flex;
  margin-top: 90px;
}
.grid__full-width .content__about__container__top-container__left-container {
  margin-right: 20px;
}
.grid__full-width .content__about__container__top-container__left-container__title {
  font-size: 5rem;
  line-height: 7rem;
  color: #0B132A;
  margin-top: 28px;
}
.grid__full-width .content__about__container__top-container__left-container__title__first-title {
  font-weight: 500;
}
.grid__full-width .content__about__container__top-container__left-container__title__lasles-title {
  font-weight: 700;
  position: relative;
}
.grid__full-width .content__about__container__top-container__left-container__title__vpn-title {
  font-weight: 800;
  position: relative;
  left: -18px;
}
.grid__full-width .content__about__container__top-container__left-container__describe {
  height: 60px;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4F5665;
}
.grid__full-width .content__about__container__top-container__left-container__describe__first-describe {
  font-weight: 400;
}
.grid__full-width .content__about__container__top-container__left-container__describe__seccond-describe {
  font-weight: 600;
}
.grid__full-width .content__about__container__top-container__left-container__describe__third-describe {
  font-weight: 400;
}
.grid__full-width .content__about__container__top-container__left-container__btn {
  width: 250px;
  height: 60px;
  background-color: #FFFFFF;
  color: #F53838;
  border: 2px solid #F53855;
  border-radius: 10px;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 1.6rem;
  margin-top: 52px;
  padding: auto;
  position: relative;
}
.grid__full-width .content__about__container__top-container__left-container__btn:hover {
  cursor: pointer;
  background-color: #F53838;
  color: #FFFFFF;
}
.grid__full-width .content__about__container__top-container__left-container__btn:hover::before {
  position: absolute;
  content: "";
  width: 210px;
  height: 15px;
  left: 20px;
  bottom: -1px;
  box-shadow: 0px 25px 25px #fccbcb;
}
.grid__full-width .content__about__container__top-container__img {
  width: 610px;
  height: 381px;
}
.grid__full-width .content__about__container__bot-container {
  display: flex;
  width: 1140px;
  height: 200px;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 105px;
  align-items: center;
  box-shadow: 0 50px 15px #F4F4F5;
}
.grid__full-width .content__about__container__bot-container__group-item {
  display: flex;
  height: 100px;
  width: 190px;
  align-items: center;
}
.grid__full-width .content__about__container__bot-container__group-item__icon {
  width: 55px;
  height: 55px;
  margin-right: 37px;
}
.grid__full-width .content__about__container__bot-container__group-item__group-info {
  line-height: 30px;
}
.grid__full-width .content__about__container__bot-container__group-item__group-info__number {
  font-weight: 800;
  font-size: 2.5rem;
}
.grid__full-width .content__about__container__bot-container__group-item__group-info__title {
  font-weight: 400;
  font-size: 2rem;
  color: #4F5665;
}
.grid__full-width .content__about__container__bot-container::before {
  content: "";
  width: 2px;
  height: 126px;
  background-color: #EEEFF2;
  position: absolute;
  left: 356px;
}
.grid__full-width .content__about__container__bot-container::after {
  content: "";
  width: 2px;
  height: 126px;
  background-color: #EEEFF2;
  position: absolute;
  left: 776px;
}
.grid__full-width .content__features__container {
  margin: 0 150px 0 150px;
  display: flex;
  margin-top: 96px;
  margin-bottom: 130px;
}
.grid__full-width .content__features__container__img {
  margin-right: 170px;
  width: 508px;
  height: 415px;
}
.grid__full-width .content__features__container__sub-container {
  margin-top: 70px;
}
.grid__full-width .content__features__container__sub-container__title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 50px;
  width: 382px;
}
.grid__full-width .content__features__container__sub-container__describe {
  width: 428px;
  font-size: 16px;
  margin-bottom: 5px;
  color: #4F5665;
}
.grid__full-width .content__features__container__sub-container__group {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.grid__full-width .content__features__container__sub-container__group__feature-name {
  font-size: 14px;
  color: #4F5665;
}
.grid__full-width .content__features__container__sub-container__group__icon {
  margin-right: 12px;
}
.grid__full-width .content__pricing {
  background-color: #FAFAFA;
}
.grid__full-width .content__pricing__container {
  margin: 0 150px 0 150px;
}
.grid__full-width .content__pricing__container__title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 5rem;
  text-align: center;
  padding-top: 80px;
}
.grid__full-width .content__pricing__container__describe {
  width: 555px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: #4F5665;
}
.grid__full-width .content__pricing__container__sub-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.grid__full-width .content__pricing__container__sub-container__item {
  width: 330px;
  height: 760px;
  margin: 0 25px;
  text-align: center;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.grid__full-width .content__pricing__container__sub-container__item__img {
  margin-top: 87px;
}
.grid__full-width .content__pricing__container__sub-container__item__name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #4F5665;
}
.grid__full-width .content__pricing__container__sub-container__item__group-features {
  margin-top: 20px;
  height: 290px;
}
.grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item {
  display: flex;
  justify-items: auto;
  padding-top: 10px;
}
.grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item__icon {
  margin-right: 20px;
  margin-left: 70px;
}
.grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item__name {
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 400;
}
.grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item:hover {
  color: #F53838;
  position: relative;
  top: -1px;
}
.grid__full-width .content__pricing__container__sub-container__item__cost {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}
.grid__full-width .content__pricing__container__sub-container__item__cost__number {
  font-weight: 600;
}
.grid__full-width .content__pricing__container__sub-container__item__cost__time {
  font-weight: 500;
  color: #4F5665;
}
.grid__full-width .content__pricing__container__sub-container__item__btn {
  width: 178px;
  height: 45px;
  border: 2px solid #F53855;
  padding: 13px 63px;
  border-radius: 50px;
  color: #F53855;
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 20px;
  background-color: #ffffff;
  margin-bottom: 50px;
  position: relative;
}
.grid__full-width .content__pricing__container__sub-container__item__btn:hover {
  cursor: pointer;
  background-color: #F53838;
  color: #FFFFFF;
}
.grid__full-width .content__pricing__container__sub-container__item__btn:hover::before {
  position: absolute;
  content: "";
  width: 140px;
  height: 15px;
  left: 17px;
  bottom: -1px;
  box-shadow: 0px 20px 20px #FCC8C8;
}
.grid__full-width .content__pricing__container__sub-container__item:hover {
  border-color: #F53838;
  cursor: pointer;
}
.grid__full-width .content__intro-network__container {
  margin: 0 150px 0 150px;
}
.grid__full-width .content__intro-network__container__title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 5rem;
  width: 384px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
}
.grid__full-width .content__intro-network__container__describe {
  width: 555px;
  height: 60px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: #4F5665;
}
.grid__full-width .content__intro-network__container__describe__seccond-describe {
  font-weight: 600;
}
.grid__full-width .content__intro-network__container__img {
  margin-left: 66px;
  margin-top: 55px;
  width: 1060px;
  height: 538px;
}
.grid__full-width .content__intro-network__container__container-internet {
  width: 1136px;
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 136px;
}
.grid__full-width .content__intro-network__container__container-internet__item-reddit {
  padding-left: 50px;
}
.grid__full-width .content__intro-network__container__container-internet__item-amazon {
  padding-left: 10px;
}
.grid__full-width .content__intro-network__container__container-internet__item-spontify {
  padding-left: 40px;
}
.grid__full-width .content__testimonials__container {
  margin: 0 150px 0 150px;
}
.grid__full-width .content__testimonials__container__title {
  font-size: 3.5rem;
  line-height: 5rem;
  font-weight: 600;
  width: 448px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 70px;
}
.grid__full-width .content__testimonials__container__describe {
  width: 550px;
  height: 60px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  color: #4F5665;
}
.grid__full-width .content__testimonials__container__slider {
  height: 435px;
  width: 1140px;
  margin-top: 20px;
  line-height: 3rem;
}
.grid__full-width .content__testimonials__container__slider__content {
  display: flex;
}
.grid__full-width .content__testimonials__container__slider__content__item {
  margin-right: 50px;
  width: 400px;
  height: 250px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  overflow-x: visible;
  margin-top: 30px;
}
.grid__full-width .content__testimonials__container__slider__content__item__top {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__info {
  display: flex;
  align-items: center;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__info__avt {
  margin-left: 30px;
  width: 50px;
  height: 50px;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__info__name-address {
  margin-left: 20px;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__info__name-address__name {
  font-weight: 600;
  font-size: 1.8rem;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__info__name-address__address {
  font-weight: 400;
  font-size: 1.4rem;
  color: #4F5665;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__rating {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__rating__point {
  font-weight: 500;
  font-size: 1.6rem;
}
.grid__full-width .content__testimonials__container__slider__content__item__top__rating__star {
  color: #FEA250;
  margin-left: 10px;
  font-size: 1.2rem;
}
.grid__full-width .content__testimonials__container__slider__content__item__comment {
  font-weight: 400;
  font-size: 1.6rem;
  width: 335px;
  height: 100px;
  margin: 20px 30px 30px 30px;
}
.grid__full-width .content__testimonials__container__slider__content__item:hover {
  border-color: #F53838;
  cursor: pointer;
}
.grid__full-width .content__testimonials__container__slider__content__item--now {
  border-color: #F53838;
}
.grid__full-width .content__testimonials__container__slider__control {
  display: flex;
  justify-content: space-between;
  margin-top: 83px;
}
.grid__full-width .content__testimonials__container__slider__control__group-status {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-between;
}
.grid__full-width .content__testimonials__container__slider__control__group-status__icon-now {
  border-bottom: 7px solid #F53838;
  border-top: 7px solid #F53838;
  border-left: 19px solid #F53838;
  border-right: 19px solid #F53838;
  background-color: #F53838;
  border-radius: 50px;
}
.grid__full-width .content__testimonials__container__slider__control__group-status__icon-now:hover {
  cursor: pointer;
  position: relative;
  top: -2px;
}
.grid__full-width .content__testimonials__container__slider__control__group-status__icon {
  color: #DDE0E4;
  font-size: 1.4rem;
}
.grid__full-width .content__testimonials__container__slider__control__group-status__icon:hover {
  color: #F53838;
  cursor: pointer;
  position: relative;
  top: -2px;
}
.grid__full-width .content__testimonials__container__slider__control__group-btn {
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.grid__full-width .content__testimonials__container__slider__control__group-btn__btn-go-back, .grid__full-width .content__testimonials__container__slider__control__group-btn__btn-forward {
  width: 60px;
  height: 60px;
  background-color: transparent;
  font-size: 3rem;
  border: 3px solid #F43838;
  color: #F43838;
  border-radius: 80px;
}
.grid__full-width .content__testimonials__container__slider__control__group-btn__btn-go-back:hover, .grid__full-width .content__testimonials__container__slider__control__group-btn__btn-forward:hover {
  color: #FFFFFF;
  background-color: #F43838;
  cursor: pointer;
}
.grid__full-width .footer {
  background-color: #F8F8F8;
  height: 563px;
}
.grid__full-width .footer__container {
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  padding-top: 180px;
}
.grid__full-width .footer__container__left {
  flex: 1;
}
.grid__full-width .footer__container__left__logo {
  display: flex;
  align-items: center;
}
.grid__full-width .footer__container__left__logo__icon {
  margin-right: 10px;
}
.grid__full-width .footer__container__left__logo__first-name {
  position: relative;
  bottom: -2px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}
.grid__full-width .footer__container__left__logo__last-name {
  position: relative;
  bottom: -2px;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
}
.grid__full-width .footer__container__left__describe {
  width: 340px;
  margin-top: 20px;
  color: #4F5665;
}
.grid__full-width .footer__container__left__describe__first-des, .grid__full-width .footer__container__left__describe__last-des {
  font-size: 16px;
  line-height: 3rem;
}
.grid__full-width .footer__container__left__describe__first-des {
  font-weight: 600;
}
.grid__full-width .footer__container__left__describe__last-des {
  font-weight: 500;
}
.grid__full-width .footer__container__left__social-network {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin-top: 30px;
}
.grid__full-width .footer__container__left__social-network__btn {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #FFFFFF;
  border: none;
  margin-right: 20px;
  box-shadow: 0 15px 10px #E7E7E9;
}
.grid__full-width .footer__container__left__social-network__btn__icon {
  font-size: 2rem;
  color: #F53838;
}
.grid__full-width .footer__container__left__social-network__btn:hover {
  cursor: pointer;
  background-color: #F53838;
}
.grid__full-width .footer__container__left__social-network__btn:hover > i {
  color: #FFFFFF;
}
.grid__full-width .footer__container__left__copy-right {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4F5665;
}
.grid__full-width .footer__container__left__copy-right__seccond {
  font-weight: 600;
  position: relative;
  left: -4px;
}
.grid__full-width .footer__container__right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 600;
}
.grid__full-width .footer__container__right__product__item {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #4F5665;
}
.grid__full-width .footer__container__right__engage__item {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #4F5665;
}
.grid__full-width .footer__container__right__earn-money__item {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #4F5665;
}
.grid__full-width .footer__container__right__product__item:hover, .grid__full-width .footer__container__right__engage__item:hover, .grid__full-width .footer__container__right__earn-money__item:hover {
  color: #F53838;
}

.notify-subscribe {
  width: 1140px;
  height: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  bottom: 680px;
  right: -150px;
  animation: showNotify 2s;
}
@keyframes showNotify {
  from {
    bottom: 680px;
    right: -850px;
  }
  to {
    bottom: 680px;
    right: -150px;
  }
}
.notify-subscribe__left-container {
  width: 410px;
  height: 116px;
  margin-left: 70px;
}
.notify-subscribe__left-container__title {
  width: 371px;
  line-height: 4.5rem;
  font-size: 3.5rem;
  font-weight: 600;
}
.notify-subscribe__left-container__describe {
  line-height: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4F5665;
  margin-top: 20px;
}
.notify-subscribe__btn {
  width: 250px;
  height: 60px;
  margin-right: 70px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #F43838;
  background-color: #FFFFFF;
  border-color: #F53838;
  position: relative;
}
.notify-subscribe__btn:hover {
  cursor: pointer;
  background-color: #F53838;
  color: #FFFFFF;
}
.notify-subscribe__btn:hover::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 15px;
  left: 22px;
  bottom: -1px;
  box-shadow: 0px 30px 25px #FCC8C8;
}

@media only screen and (max-width: 46.1875em) {
  .grid__full-width .header__container, .grid__full-width .content__about__container, .grid__full-width .content__features__container, .grid__full-width .content__pricing__container, .grid__full-width .content__intro-network__container, .grid__full-width .content__testimonials__container, .grid__full-width .footer__container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .grid__full-width .header__container__slide-bar {
    display: block;
  }
  .grid__full-width .header__container__slide-bar__logo {
    display: flex;
    align-items: center;
  }
  .grid__full-width .header__container__slide-bar__logo__icon {
    width: 50px;
    height: 50px;
  }
  .grid__full-width .header__container__slide-bar__logo__name {
    width: 144px;
    font-size: 3rem;
  }
  .grid__full-width .header__container__slide-bar__logo__name__name-right {
    left: 84px;
  }
  .grid__full-width .header__container__slide-bar__content {
    width: 70%;
    height: 3em;
    margin: 20px auto;
    display: none;
  }
  .grid__full-width .header__container__slide-bar__authentication {
    width: 100%;
    margin: 20px auto;
  }
  .grid__full-width .header__container__slide-bar__authentication__group-btn {
    margin: 0 auto;
  }
  .grid__full-width .header__container__slide-bar__authentication__group-btn__sign-in {
    border: 2px solid #F53855;
    border-radius: 50px;
    color: #F53838;
  }
  .grid__full-width .header__container__slide-bar__authentication__menu-bars {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #F53855;
    border-radius: 10px;
    right: 0;
  }
  .grid__full-width .header__container__slide-bar__authentication__menu-bars__icon {
    font-size: 2.8rem;
    color: #4F5665;
  }
  .grid__full-width .header__container__slide-bar__authentication__menu-bars:hover {
    background-color: #F53838;
  }
  .grid__full-width .header__container__slide-bar__authentication__menu-bars:hover > i {
    color: #ffffff;
  }
  .grid__full-width .content__about__container__top-container {
    margin-top: 100px;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .grid__full-width .content__about__container__top-container__left-container {
    margin: 0;
  }
  .grid__full-width .content__about__container__top-container__left-container__title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  .grid__full-width .content__about__container__top-container__left-container__title__vpn-title {
    left: -10px;
  }
  .grid__full-width .content__about__container__top-container__left-container__describe {
    margin-top: 20px;
    line-height: 2.5rem;
  }
  .grid__full-width .content__about__container__top-container__left-container__img {
    width: 90%;
    margin-top: 60px;
  }
  .grid__full-width .content__about__container__bot-container {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    height: unset;
  }
  .grid__full-width .content__about__container__bot-container::before {
    content: none;
  }
  .grid__full-width .content__about__container__bot-container::after {
    content: none;
  }
  .grid__full-width .content__features__container {
    margin-top: 60px;
    display: block;
  }
  .grid__full-width .content__features__container__img {
    width: 100%;
    margin-right: 0;
    height: unset;
  }
  .grid__full-width .content__features__container__sub-container {
    margin-top: 50px;
  }
  .grid__full-width .content__features__container__sub-container__title {
    width: 100%;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .grid__full-width .content__features__container__sub-container__describe {
    width: 100%;
    line-height: 2rem;
    margin: 20px 0;
  }
  .grid__full-width .content__features__container__sub-container__group {
    justify-content: center;
  }
  .grid__full-width .content__features__container__sub-container__group__feature-name {
    width: 170px;
  }
  .grid__full-width .content__pricing__container__describe {
    width: 100%;
  }
  .grid__full-width .content__pricing__container__sub-container {
    display: block;
    margin-top: 50px;
  }
  .grid__full-width .content__pricing__container__sub-container__item {
    width: 90%;
    height: unset;
    margin-top: 20px;
  }
  .grid__full-width .content__pricing__container__sub-container__item__img {
    margin-top: 10px;
  }
  .grid__full-width .content__pricing__container__sub-container__item__group-features {
    margin: 20px 0;
    height: unset;
  }
  .grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item {
    width: 185px;
    margin: 0 auto;
  }
  .grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item__icon {
    margin-left: unset;
  }
  .grid__full-width .content__intro-network__container__title {
    width: 100%;
    margin-top: 100px;
    font-size: 2.5rem;
    line-height: 2.8rem;
    height: unset;
  }
  .grid__full-width .content__intro-network__container__describe {
    width: 100%;
  }
  .grid__full-width .content__intro-network__container__img {
    width: 100%;
    height: unset;
    margin: 60px 0;
  }
  .grid__full-width .content__intro-network__container__container-internet {
    width: 100%;
    height: unset;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: unset;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-netflix {
    width: 30%;
    margin-right: 10px;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-reddit {
    width: 30%;
    padding: 0;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-amazon {
    width: 35%;
    padding: 0;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-discord {
    width: 40%;
    margin-right: 10px;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-spontify {
    width: 40%;
    padding: 0;
  }
  .grid__full-width .content__testimonials__container__title {
    width: 100%;
    font-size: 2.5rem;
    line-height: 2.8rem;
    height: unset;
  }
  .grid__full-width .content__testimonials__container__describe {
    width: 100%;
    line-height: 2.5rem;
    height: unset;
  }
  .grid__full-width .content__testimonials__container__slider {
    width: 100%;
  }
  .grid__full-width .content__testimonials__container__slider__content__item {
    width: 100%;
    margin-right: 20px;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__top {
    margin: 0;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__top__info {
    margin-right: 10px;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__top__info__avt {
    margin-left: 5px;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__top__info__name-address__name {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 5px;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__top__info__name-address__address {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 5px;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__top__rating {
    padding-right: 5px;
  }
  .grid__full-width .content__testimonials__container__slider__content__item__comment {
    font-size: 1.2rem;
    line-height: 1.6rem;
    width: 90%;
    height: unset;
    margin: 30px 20px 10px 10px;
  }
  .grid__full-width .content__testimonials__container__slider__control {
    margin-top: 40px;
  }
  .grid__full-width .content__testimonials__container__slider__control__group-btn {
    width: 90px;
  }
  .grid__full-width .content__testimonials__container__slider__control__group-btn__btn-go-back {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }
  .grid__full-width .content__testimonials__container__slider__control__group-btn__btn-forward {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }
  .grid__full-width .footer__container {
    margin-top: 90px;
    padding-top: 130px;
  }
  .grid__full-width .footer__container__left {
    width: 50%;
  }
  .grid__full-width .footer__container__left__logo__icon {
    width: 30px;
    height: 30px;
  }
  .grid__full-width .footer__container__left__logo__first-name {
    font-size: 1.4rem;
  }
  .grid__full-width .footer__container__left__logo__last-name {
    font-size: 1.3rem;
  }
  .grid__full-width .footer__container__left__describe {
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .grid__full-width .footer__container__left__describe__first-des, .grid__full-width .footer__container__left__describe__last-des {
    font-size: 1.2em;
    line-height: 1.8rem;
  }
  .grid__full-width .footer__container__left__social-network {
    width: 80%;
    margin-top: 15px;
  }
  .grid__full-width .footer__container__left__social-network__btn {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }
  .grid__full-width .footer__container__right {
    flex-wrap: wrap;
    width: 50%;
  }
  .grid__full-width .footer__container__right__product, .grid__full-width .footer__container__right__engage, .grid__full-width .footer__container__right__earn-money {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .grid__full-width .footer__container__right__product__item, .grid__full-width .footer__container__right__engage__item, .grid__full-width .footer__container__right__earn-money__item {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .grid__full-width .notify-subscribe {
    right: -20px;
    width: 320px;
    display: block;
    text-align: center;
    height: 180px;
    animation: showNotify 2s;
  }
  .grid__full-width .notify-subscribe__left-container {
    margin-left: 10px;
    width: 320px;
    height: 80px;
  }
  .grid__full-width .notify-subscribe__left-container__title {
    width: unset;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .grid__full-width .notify-subscribe__left-container__describe {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 10px;
  }
  .grid__full-width .notify-subscribe__btn {
    width: 170px;
    margin: 0;
  }
  .grid__full-width .notify-subscribe__btn:hover::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 15px;
    left: 12px;
    bottom: -1px;
    box-shadow: 0px 30px 25px #FCC8C8;
  }
  @keyframes showNotify {
    from {
      bottom: 680px;
      right: -150px;
    }
    to {
      bottom: 680px;
      right: -20px;
    }
  }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .grid__full-width .header__container, .grid__full-width .content__about__container, .grid__full-width .content__features__container, .grid__full-width .content__pricing__container, .grid__full-width .content__intro-network__container, .grid__full-width .content__testimonials__container, .grid__full-width .footer__container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .grid__full-width .header__container__slide-bar {
    display: block;
  }
  .grid__full-width .header__container__slide-bar__logo {
    display: flex;
    align-items: center;
  }
  .grid__full-width .header__container__slide-bar__logo__icon {
    width: 70px;
    height: 70px;
  }
  .grid__full-width .header__container__slide-bar__logo__name {
    width: 210px;
    font-size: 4rem;
  }
  .grid__full-width .header__container__slide-bar__logo__name__name-right {
    left: 112px;
  }
  .grid__full-width .header__container__slide-bar__content {
    width: 70%;
    height: 3em;
    margin: 20px auto;
  }
  .grid__full-width .header__container__slide-bar__authentication {
    margin: 10px auto;
  }
  .grid__full-width .content__about__container__top-container {
    display: block;
    margin-top: 230px;
    text-align: center;
  }
  .grid__full-width .content__about__container__top-container__left-container {
    width: 80%;
    margin: 0 auto;
  }
  .grid__full-width .content__about__container__top-container__left-container__describe {
    margin-top: 20px;
  }
  .grid__full-width .content__about__container__top-container__left-container__btn {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .grid__full-width .content__about__container__top-container__left-container__img {
    margin-top: 20px;
  }
  .grid__full-width .content__about__container__bot-container {
    width: 100%;
    height: 105px;
    margin-top: 60px;
    position: relative;
    align-items: center;
    box-shadow: 0 25px 15px #f4f4f5;
  }
  .grid__full-width .content__about__container__bot-container::before {
    position: absolute;
    left: 30%;
    bottom: 10px;
    height: 80px;
  }
  .grid__full-width .content__about__container__bot-container::after {
    position: absolute;
    left: 65%;
    bottom: 10px;
    height: 80px;
  }
  .grid__full-width .content__about__container__bot-container__group-item--mid {
    position: relative;
    left: -14px;
  }
  .grid__full-width .content__features__container {
    margin-top: 90px;
    margin-bottom: 60px;
    justify-content: space-around;
  }
  .grid__full-width .content__features__container__img {
    width: 35%;
    height: 326px;
    margin-right: 5px;
  }
  .grid__full-width .content__features__container__sub-container {
    width: 45%;
    margin-top: 0;
  }
  .grid__full-width .content__features__container__sub-container__title {
    width: 90%;
  }
  .grid__full-width .content__features__container__sub-container__describe {
    width: 90%;
  }
  .grid__full-width .content__pricing__container__sub-container__item {
    width: 190px;
    height: 680px;
  }
  .grid__full-width .content__pricing__container__sub-container__item__img {
    margin-top: 20px;
  }
  .grid__full-width .content__pricing__container__sub-container__item__group-features__feature-item__icon {
    margin-right: 5px;
    margin-left: 2px;
  }
  .grid__full-width .content__pricing__container__sub-container__item__btn {
    width: 100px;
    padding: 0;
    font-size: 1.5rem;
    margin: 20px auto;
  }
  .grid__full-width .content__pricing__container__sub-container__item__btn:hover {
    cursor: pointer;
    background-color: #F53838;
    color: #FFFFFF;
  }
  .grid__full-width .content__pricing__container__sub-container__item__btn:hover::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 15px;
    left: 12px;
    bottom: -1px;
    box-shadow: 0px 20px 20px #FCC8C8;
  }
  .grid__full-width .content__intro-network__container__img {
    margin-top: 50px;
    width: 90%;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .grid__full-width .content__intro-network__container__container-internet {
    width: 100%;
    margin-top: 30px;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-netflix {
    width: 100px;
    height: 74px;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-amazon {
    width: 144px;
    height: 150px;
    padding: 0;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-discord {
    width: 150px;
    height: 60px;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-spontify {
    width: 135px;
    height: 40px;
    padding: 0;
  }
  .grid__full-width .content__intro-network__container__container-internet__item-reddit {
    width: 130px;
    height: 40px;
    padding: 0;
  }
  .grid__full-width .content__testimonials__container__title {
    margin-top: 30px;
  }
  .grid__full-width .content__testimonials__container__slider {
    width: 100%;
  }
  .grid__full-width .footer__container__left__describe {
    width: 300px;
  }
  .grid__full-width .notify-subscribe {
    width: 700px;
    right: -40px;
    animation: showNotify 2s;
  }
  .grid__full-width .notify-subscribe__left-container {
    margin-left: 15px;
  }
  .grid__full-width .notify-subscribe__btn {
    margin-right: 15px;
  }
  @keyframes showNotify {
    from {
      bottom: 680px;
      right: -450px;
    }
    to {
      bottom: 680px;
      right: -40px;
    }
  }
}

/*# sourceMappingURL=style.css.map */
