@import './variable';
@import './mixins';

.grid__full-width {
    overflow-x: hidden;
    .header {
        &__container{
            margin: auto 150px;
        
            &__slide-bar {
                display: flex;
                align-items: center;
                height: 50px;
                margin-top: 50px;
                
                &__logo {
                    display: flex;
                    justify-content: center;
                    
                    &__icon {
                        width: 35px;
                        height: 36px;
                        margin-right: 10px;
                        line-height: 24px;
                        
                    }
                    &__name {
                        width: 105px;
                        height: 24px;
                        font-size: 2rem;
                        position: relative;
                        top: 4px;

                        color: #0B132A;
                        &__name-left {
                            font-weight: 500;
                        }
                        &__name-right {
                            font-weight: 700;
                            position: relative;
                            left: -6px;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &__content {
                    width: 431px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 19px;
                    font-size: 1.6rem;
                    color: $text-color;
                    margin-left: 157px;
                    margin-right: 120px;
                    &__about:hover,
                    &__features:hover,
                    &__pricing:hover,
                    &__testimonials:hover,
                    &__help:hover {
                        cursor: pointer;
                        text-decoration: underline $primary-color;
                        position: relative;
                        top: -2px;
                    }
                }
                &__authentication {
                    width: 273px;
                    justify-content: space-between;
                    display: flex;
                    align-content: center;
                    
                    &__sign-in,
                    &__sign-up {
                        font-size: 1.6rem;
                        font-weight: 600;
                        background-color: transparent;
                    }
                    &__sign-in {
                        border: none;
                        padding: 13px 30px;
                        
                        &:hover {
                            border: 2px solid $btn-border-color;
                            border-radius: 50px;
                            cursor: pointer;
                            background-color: $primary-color;
                            color: #FFFFFF;
                            //transform: 
                        }
                    }
                    &__sign-up {
                    border: 2px solid $btn-border-color;
                    padding: 13px 45px;
                    border-radius: 50px;
                    color: $btn-border-color;

                    &:hover {
                            cursor: pointer;
                            background-color: $primary-color;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
    .content {   
        
        &__about {
            &__container {
                margin: 0 84px 0 150px;
                position: relative;
                &__top-container {
                    display: flex;
                    margin-top: 90px;
                    &__left-container {
                        margin-right: 20px;
                        &__title {
                            font-size: 5rem;
                            line-height: 7rem;
                            color: #0B132A;
                            margin-top: 28px;
                            &__first-title {
                                font-weight: 500;
                            }
                            &__lasles-title {
                                font-weight: 700 ;
                            }
                            &__vpn-title {
                                font-weight: 800;
                                position: relative;
                                left: -18px;
                            }
                        }
                        &__describe {
                            height: 60px;
                            font-size: 1.6rem;
                            line-height: 3rem;
                            color: $text-color;
                            
                            &__first-describe {
                                font-weight: 400;
                            }
                            &__seccond-describe {
                                font-weight: 600;
                            }
                            &__third-describe {
                                font-weight: 400;
                            }
                        }
                        &__btn {
                            width: 250px;
                            height: 60px;
                            background-color: #FFFFFF;
                            color: $primary-color;
                            border: 2px solid $btn-border-color;
                            border-radius: 10px;
                            font-weight: 700;
                            line-height: 2.5rem;
                            font-size: 1.6rem;
                            margin-top: 52px;
                            padding: auto;
                           // box-shadow: 0 25px 25px #FCCBCB;
                            position: relative;
                            &:hover {
                                cursor: pointer;
                                background-color: $primary-color;
                                color: #FFFFFF;
                                @include hoverBtn(210px, 15px, 20px, -1px, 0px, 25px, 25px, #fccbcb);
                            }
                        }
                    }
                    &__img {
                        width: 610px;
                        height: 381px;
                    }
                }

                &__bot-container {
                    display: flex;
                    width: 1140px;
                    height: 200px;
                    justify-content: space-around;
                    border-radius: 10px;
                    margin-top: 105px;
                    align-items: center;
                    box-shadow: 0 50px 15px #F4F4F5;
                    
                    &__group-item {
                        display: flex;
                        height: 100px;
                        width: 190px;
                        
                        align-items: center;
                        &__icon{
                            width: 55px;
                            height: 55px;
                            margin-right: 37px;
                        }
                        &__group-info {
                            line-height: 30px;
                            &__number {
                                font-weight: 800;
                                font-size: 2.5rem;
                            }
                            &__title {
                                font-weight: 400;
                                font-size: 2rem;
                                color: $text-color; 
                            }
                        }
                        
                    }
                    &::before {
                        content: "";
                        width: 2px;
                        height: 126px;
                        background-color: #EEEFF2;
                        position: absolute;
                        left: 356px;
                    }

                    &::after {
                        content: "";
                        width: 2px;
                        height: 126px;
                        background-color: #EEEFF2;
                        position: absolute;
                        left: 776px;
                    }
                    
                    
                }
            }
            
        }

        &__features {
            &__container {
                margin: 0 150px 0 150px;
                display: flex;
                margin-top: 96px;
                margin-bottom: 130px;
                &__img {
                    margin-right: 170px;
                    width: 508px;
                    height: 415px;
                }
                &__sub-container {
                    margin-top: 70px;
                    &__title {
                        font-weight: 600;
                        font-size: 3.5rem;
                        line-height: 50px;
                        width: 382px;
                    }
                    &__describe { 
                        width: 428px;
                        font-size: 16px;
                        margin-bottom: 5px;
                        color: $text-color; 
                    }
                    &__group {
                        margin-top: 15px; 
                        display: flex;
                        align-items: center;

                        &__feature-name {
                            font-size: 14px;   
                            color: $text-color;    
                        }
                        &__icon {
                            margin-right: 12px;
                        }
                        
                    }
                }
            }
        }
        
        &__pricing {
            background-color: #FAFAFA;
            &__container {
                margin: 0 150px 0 150px;
        
                &__title {
                    font-weight: 600;
                    font-size: 3.5rem;
                    line-height: 5rem;
                    text-align: center;
                    padding-top: 80px;
                }
                &__describe {
                    width: 555px;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 3rem;
                    text-align: center;
                    margin: auto;
                    margin-top: 20px;
                    color: $text-color;
                }
                &__sub-container {
                    display: flex;
                    justify-content: center;
                    margin-top: 60px;
                    &__item {
                        width: 330px;
                        height: 760px;
                        margin: 0 25px;
                        text-align: center;
                        border: 2px solid #DDDDDD;
                        border-radius: 10px;
                        &__img {
                            margin-top: 87px;
                            
                        }
                        &__name {
                            font-weight: 600;
                            font-size: 1.8rem;
                            line-height: 3rem;
                            color: $text-color;
                        }
                        &__group-features {
                            margin-top: 20px;
                            height: 290px;
                            &__feature-item {
                                display: flex;
                                justify-items: auto;
                                padding-top: 10px;
                                &__icon {
                                    margin-right: 20px;
                                    margin-left: 70px;
                                }
                                &__name {
                                    font-size: 1.4rem;
                                    line-height: 3rem;
                                    font-weight: 400;
                                    
                                }
                                &:hover {
                                    color: $primary-color;
                                    position: relative;
                                    top: -1px;    
                                }
                            }
                            
                        }
                        &__cost {
                            font-size: 2.5rem;
                            line-height: 3rem;
                            text-align: center;
                            &__number {
                                
                                font-weight: 600;
                            }
                            &__time {
                                font-weight: 500;
                                color: $text-color;
                            }
                        }
                        &__btn {
                            width: 178px;
                            height: 45px;
                            border: 2px solid $btn-border-color;
                            padding: 13px 63px;
                            border-radius: 50px;
                            color: $btn-border-color;
                            font-weight: 700;
                            font-size: 1.6rem;
                            margin-top: 20px;
                            background-color: #ffffff;
                            margin-bottom: 50px;
                            position: relative;
                            &:hover {
                                cursor: pointer;
                                background-color: $primary-color;
                                color: #FFFFFF;
                                @include hoverBtn(140px, 15px, 17px, -1px, 0px, 20px, 20px, $btn-shadow);
                            }
                            
                            
                        }
                        
                        &:hover {
                            border-color: $primary-color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &__intro-network {
            &__container {
                margin: 0 150px 0 150px;
                &__title {
                    font-weight: 600;
                    font-size: 3.5rem;
                    line-height: 5rem;
                    width: 384px;
                    height: 100px;
                    text-align: center;
                    margin: auto;
                    margin-top: 150px;
                }
                &__describe {
                    width: 555px;
                    height: 60px;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 3rem;
                    text-align: center;
                    margin: auto;
                    margin-top: 20px;
                    color: $text-color;
                    &__first-describe {
    
                    }
                    &__seccond-describe {
                        font-weight: 600;
                    }
                    &__third-describe {
    
                    }
                }
                &__img {
                    margin-left: 66px;
                    margin-top: 55px;
                    width: 1060px;
                    height: 538px;
                }
                &__container-internet {
                    width: 1136px;
                    height: 209px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 136px;
                    &__item-netflix{
                        
                    }
                    &__item-reddit{
                        padding-left: 50px;
                    }
                    &__item-amazon{
                        padding-left: 10px;
                    }
                    &__item-discord{
                        
                    }
                    &__item-spontify{
                        padding-left: 40px;
                    }
                }
            }
        }

        &__testimonials {
            &__container {
                margin: 0 150px 0 150px;
                &__title {
                    font-size: 3.5rem;
                    line-height: 5rem;
                    font-weight: 600;
                    width: 448px;
                    height: 100px;
                    text-align: center;
                    margin: auto;
                    margin-top: 70px;
                }
                &__describe {
                    width: 550px;
                    height: 60px;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 3rem;
                    text-align: center;
                    margin: auto;
                    margin-top: 20px;
                    color: $text-color;
                }
                &__slider {
                    
                    height: 435px;
                    width: 1140px;
                    margin-top: 20px;
                    line-height: 3rem;
                    &__content {
                        display: flex;
                        &__item {
                            margin-right: 50px;
                            width: 400px;
                            height: 250px;
                            border: 2px solid #DDDDDD;
                            border-radius: 10px;
                            overflow-x: visible;
                            margin-top: 30px;
                            &__top {
                                margin-top: 30px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                &__info {
                                    display: flex;
                                    align-items: center;
                                    &__avt {
                                        margin-left: 30px;
                                        width: 50px;
                                        height: 50px;
                                    }
                                    &__name-address {
                                        margin-left: 20px;
                                        &__name {
                                            font-weight: 600;
                                            font-size: 1.8rem;
                                        }
                                        &__address {
                                            font-weight: 400;
                                            font-size: 1.4rem;
                                            color: $text-color;     
                                        }
                                    }
                                }
                                &__rating {
                                    padding-right: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    &__point {
                                        font-weight: 500;
                                        font-size: 1.6rem;
                                    }
                                    &__star {
                                        color: #FEA250;
                                        margin-left: 10px;
                                        font-size: 1.2rem;
                                    }
                                    
                                }
                            }
                            &__comment {
                                font-weight: 400;
                                font-size: 1.6rem;
                                width: 335px;
                                height: 100px;
                                margin: 20px 30px 30px 30px;
                               
                            }
                            &:hover {
                                border-color: $primary-color;
                                cursor: pointer;
                            }
                            &--now {
                                border-color: $primary-color;
                            }
                        }
                        
                        
                    }
                    &__control {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 83px;
                        
                        &__group-status {
                            display: flex;
                            
                            align-items: center;
                            width: 120px;
                            justify-content: space-between;
                            &__icon-now {
                                $color-icon : $primary-color;
                                $width : 19px;
                                $height: 7px;
                                border-bottom: $height solid $color-icon;
                                border-top: $height solid $color-icon;
                                border-left: $width solid $color-icon;
                                border-right: $width solid $color-icon;
                                background-color: $color-icon; 
                                border-radius: 50px;
                                &:hover {
                                    cursor: pointer;
                                    position: relative;
                                    top: -2px;
                                }
                            }
                            &__icon {
                                color: #DDE0E4;
                                font-size: 1.4rem;
                                &:hover {
                                    color: $primary-color;
                                    cursor: pointer;
                                    position: relative;
                                    top: -2px;
                                }
                            }

                        }
                        &__group-btn {
                            width: 140px;
                            display: flex;
                            
                            justify-content: space-between;
                            &__btn-go-back,
                            &__btn-forward {
                                width: 60px;
                                height: 60px;
                                background-color: transparent;
                                font-size: 3rem;
                                border: 3px solid #F43838;
                                color: #F43838;
                                border-radius: 80px;
                                &:hover {
                                    color: #FFFFFF;
                                    background-color: #F43838;
                                    cursor: pointer;
                                }
                            }
    
                        }
                    }
                }
            }
        }
    }
    .footer {
        
        background-color: #F8F8F8;
        height: 563px;
        
        &__container {
            margin-top: 150px;
            margin-left: 150px;
            margin-right: 150px;
            display: flex;
            padding-top: 180px;
            &__left {
                flex: 1;
                &__logo {
                    display: flex;
                    align-items: center;
                    
                    &__icon {
                        margin-right: 10px;
                    }
                    &__first-name {
                        position: relative;
                        bottom: -2px;
                        font-weight: 700;
                        font-size: 2rem;
                        line-height: 2.4rem;
                    }
                    &__last-name {
                        position: relative;
                        bottom: -2px;
                        font-weight: 800;
                        font-size: 2rem;
                        line-height: 2.4rem;
                    }
                }
                &__describe {
                    width: 340px;
                    margin-top: 20px;
                    color: $text-color;
                    &__first-des,
                    &__last-des {
                        font-size: 16px;
                        line-height: 3rem;
                    }
                    &__first-des {
                        font-weight: 600;
                    }
                    &__last-des {
                        font-weight: 500;
                    }
    
                }
                &__social-network {
                    display: flex;
                    justify-content: space-between;
                    width: 182px;
                    margin-top: 30px;
                    &__btn {
                        width: 40px;
                        height: 40px;
                        border-radius: 30px;
                        background-color: #FFFFFF;
                        border: none;
                        margin-right: 20px;
                        box-shadow: 0 15px 10px #E7E7E9;
                        &__icon {
                            font-size: 2rem;
                            color: $primary-color;
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: $primary-color;
                            & > i {
                                color: #FFFFFF;
                            }
                        }
                    }
                    
                    
                }
                &__copy-right {
                    margin-top: 30px;
                    font-size: 1.6rem;
                    line-height: 3rem;
                    color: $text-color;
                    &__first {
    
                    }
                    &__seccond {
                        font-weight: 600;
                        position: relative;
                        left: -4px;
                    }
                }
            }
            &__right {
                flex: 1;
                display: flex;
                justify-content: space-between;
                font-size: 1.8rem;
                line-height: 3rem;
                font-weight: 600;

                &__product {
                    &__item {
                        display: block;
                        font-size: 1.6rem;
                        font-weight: 500;
                        text-decoration: none;
                        color: $text-color;
                    }
                }
                &__engage {
                    &__item {
                        display: block;
                        font-size: 1.6rem;
                        font-weight: 500;
                        text-decoration: none;
                        color: $text-color;
                    }
                }
                &__earn-money {
                    &__item {
                        display: block;
                        font-size: 1.6rem;
                        font-weight: 500;
                        text-decoration: none;
                        color: $text-color;
                    }
                }

                &__product__item:hover,
                &__engage__item:hover,
                &__earn-money__item:hover {
                    color: $primary-color;
                }
            }
        }
        
    }
}

.notify-subscribe {
    width: 1140px;
    height: 233px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
  
    position: relative;
    bottom: 680px;
    right: -150px;
    animation: showNotify 2s;

    @keyframes showNotify {
        from {
            bottom: 680px;
            right: -850px;
        }
        to {
            bottom: 680px;
            right: -150px;
        }
    }

    &__left-container {
        width: 410px;
        height: 116px;
        margin-left: 70px;
        
        &__title {
            width: 371px;
            line-height: 4.5rem;
            font-size: 3.5rem;
            font-weight: 600;
        }
        &__describe {
            line-height: 3rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: $text-color;
            margin-top: 20px;
        }
    }
    &__btn {
        width: 250px;
        height: 60px;
        margin-right: 70px;
        border-radius: 10px;
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: #F43838;
        background-color: #FFFFFF;
        border-color: $primary-color;
        position: relative;
        
        
        &:hover {
            cursor: pointer;
            background-color: $primary-color;
            color: #FFFFFF;
            @include hoverBtn(200px, 15px, 22px, -1px, 0px, 30px, 25px, $btn-shadow);
        }
        
    }

}

